<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>

    <title>Dependency Threat Report of {{repository}}</title>
  </head>
  <body>
      <section><div class="container">
        <div class="row">
            <div class="col jumbotron">
              <h1 class='text-center'> Dependency Threat Analysis Report of {{repository}}</h1>
              <h3 class='text-center'>The repository <a href="https://github.com/{{author}}/{{repository}}">{{repository}}</a> belongs to <a href="https://github.com/{{author}}">{{author}}</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                    <h2 class='text-center'> Project Lifetime Overview</h2>
            </div>
        </div>
       <div class='divider'><hr></div>
        <div class="row">
            <div class='col'>
                
                    <canvas id="canvas"></canvas>
                    
                    
	<script>
		var barChartData = {
			labels: {{intervals}},
			datasets: [{
				label: 'Low Threats',
				backgroundColor: "#00FF00",
				stack: 'Stack 0',
				data: {{low_threats}}
			}, {
				label: 'Medium Threats',
				backgroundColor: "#FFA500",
				stack: 'Stack 0',
				data: {{medium_threats}}
			}, {
				label: 'High Threats',
				backgroundColor: "#FF0000",
				stack: 'Stack 0',
				data: {{high_threats}}
      },
      {
				label: 'Unaffected',
				stack: 'Stack 0',
				data: {{unaffected}}
			}
    ]

        }
        
        </script>
        </div>
        </div>

        <div class="row">
            <div class="col">
                    <h2 class='text-center'> Project Lifetime Breakdown</h2>
            </div>
        </div>
        <div class='divider'><hr></div>
        {% for row in data %}
        <div class="row">
            <div class="col col-6">
                <canvas id="chart-area{{row.interval}}"></canvas>
                <script type='text/javascript'>
                var config{{row.interval}} = {
			type: 'doughnut',
			data: {
				datasets: [{
					data: [
			{{row.affected_packages_low_list_count}}, {{row.affected_packages_medium_list_count}}, {{row.affected_packages_high_list_count}}, {{row.all_count}}-{{row.affected_count}}],
					backgroundColor: [
                       "#00ff00",
                       "#FFA500",
                       "#ff0000",
                 ],
					label: 'Affected Packages'
				}],
				labels: [
					'Low Threat',
					'Medium Threat',
          'High Threat',
          "Unaffected "
	
				]
			},
			options: {
				responsive: true,
				legend: {
					position: 'bottom',
				},
				title: {
					display: true,
					text: '{{row.commit_status}}'
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
		};

                </script>
            </div>
            <div class="col col-6">
                <h5>Project lifetime {{row.interval}}%</h5>
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Commit SHA:</th>
                        <td> <a href="https://github.com/{{author}}/{{repository}}/commit/{{row.commit_sha}}">{{row.commit_sha}}</a></td>
                      </tr>
                      
                      <tr>
                            <th scope="row">Commit Date:</th>
                            <td>{{row.commit_date}}</td>
                          </tr>
                        
                      <tr>
                        <th scope="row">Total Packages:</th>
                        <td>{{row.all_count}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Number of Affected Packages:</th>
                        <td>{{row.affected_count}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Number of Unaffected Packages:</th>
                        <td>{{row.all_count - row.affected_count}}</td>
                      </tr>
                      <tr>
                      <th scope="row">Ratio:</th>
                      <td>{{row.ratio}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Affected Packages:</th>
                      <td>{{row.affected_packages}}</td>
                    </tr>



                    
                    </tbody>
                  </table>
            </div>
            <div class='col'><hr></div>
        </div>
    {% endfor %}
</div>
</section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script >
		window.onload = function() {

            {%for row in data %}
                var ctx{{row.interval}} = document.getElementById('chart-area{{row.interval}}').getContext('2d');
	    		window.myDoughnut{{row.interval}} = new Chart(ctx{{row.interval}}, config{{row.interval}});

            {%endfor %}
        
            
			var ctx_bar = document.getElementById('canvas').getContext('2d');
			window.myBar = new Chart(ctx_bar, {
				type: 'bar',
				data: barChartData,
				options: {
					title: {
						display: true,
						text: 'Number of vulnerable dependencies over project lifetime'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
			});
        
        }
    </script>
</body>
</html>